@use '../mixins' as *;
@use '../colors' as *;

body {
  background-color: $clr-night;
}

header {
  position: relative;
  width: 100%;
  background-color: #fff;

  .container {
    @include mix-d-flex (row, space-between);
    width: min(1200px, 100%);
    margin-inline: auto;
    padding-block: 2rem;
    padding-bottom: 8rem;

    #wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  .branding {
    @include mix-d-flex ();
    gap: 1rem;
    width: max-content;

    &__title {
      font-size: 3rem;
      font-weight: 600;
      color: $clr-primary;
    }
  }

  nav {
    margin-left: auto;
    margin-right: 3rem;

    .navList {
      @include mix-d-flex ();
      gap: 3rem;

      &__link {
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 600;
        color: $clr-primary;
      }
    }
  }
}