@use '../mixins' as *;
@use '../colors' as *;

body {
  background-color: $clr-night;
}

header {
  position: relative;
  isolation: isolate;
  width: 100%;
  background-color: rgb(1, 62, 141);

  #wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -111;
  }

  #toggler {
    cursor: pointer;
  }

  .container {
    @include mix-d-flex (row, space-between);
    width: min(1200px, 100%);
    margin-inline: auto;
    padding-block: 2rem;
    padding-bottom: 8rem;
  }

  .branding {
    @include mix-d-flex ();
    gap: 1rem;
    width: max-content;

    &__title {
      cursor: pointer;
      font-size: 3rem;
      font-weight: 600;
      color: $clr-primary;
    }
  }

  nav {
    margin-left: auto;
    margin-right: 3rem;

    .navList {
      @include mix-d-flex ();
      gap: 3rem;

      &__link {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        font-size: 1.5rem;
        font-weight: 600;
        transition: all 200ms ease-out;
        color: $clr-primary;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 140%;
          transform: translate(-50%, -50%);
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          transition: all 200ms ease-out;
          background-color: yellow;
          box-shadow: 0px 0px 5px 5px $clr-primary;
        }

        &:hover {
          color: rgb(255, 219, 17);
        }
        &:hover::before {
          transform: translate(-130%, -50%);
          left: -2rem;
        }
      }
    }
  }
}