@use '../mixins' as *;
@use '../colors' as *;

.section-1 {
  width: 100%;

  .container {
    width: min(1200px, 100%);
    margin-inline: auto;
    padding: 1rem;
  }

  .postList {
    @include mix-d-flex (row, space-evenly);
  }

  .post {
    @include mix-d-flex (column, space-between);
    width: 25rem;
    height: 35rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #fff;

    &__img {
      position: relative;
      width: 100%;
      height: 50%;
      overflow: hidden;
      background-color: #184eff;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }
    }

    &__title {
      font-size: 2rem;
      font-weight: 600;
    }

    &__description {
      padding-inline: 1rem;
      text-align: center;
      opacity: .8;
      font-size: 1.3rem
    }

    &__footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      padding: 1rem;
      background-color: crimson;

      &-box {
        @include mix-d-flex (column);
        gap: .5rem;
        color: #fff;

        & p:first-child {
          font-weight: 600;
        }
      }
    }
  }
}